.DS_Store
machine_learning/*
env/*
.vscode/*
__pycache__/*
StockData/*
Stocks_Analyzer/*
Analyzer.py
col1.html
col2.html
Exchange.py
HistoricalData.py
HistoricalStockData.py
ManualAnalysis.csv
ManualAnalysis.xlsx
MySqlConnector.py
MySqlConnector.py
nasdaq.csv
nyse.csv
output1.html
output2.html
Scrape.py
ScrapeLink.py
Stock.py
StockData\\downloaded.csv
test.json
test.py
test2.py